<div class="col-md-10 col-md-offset-1">
	<h2>Users <a href="/users/new" class="btn btn-primary text-right btn-sm">Add user</a></h2>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nama Lengkap</th>
				<th>Email</th>
				<th>Waktu Daftar</th>
				<th>Aksi</th>
			</tr>
		</thead>
		<tbody>
			{{#each users}}
				<tr>
					<td>{{dataValues.id}}</td>
					<td>{{dataValues.first_name}} {{dataValues.last_name}}</td>
					<td>{{dataValues.email}}</td>
					<td>{{dataValues.date_register}}</td>
					<td>
						<a href="/users/{{dataValues.id}}/detail" class="btn btn-success btn-sm">view</a>
						<a href="/users/{{dataValues.id}}/edit" class="btn btn-warning btn-sm">Edit</a>
						<a href="/users/{{dataValues.id}}/delete" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this user?')">Delete</a>
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>