<div class="col-md-4 col-md-offset-2">
	<h2>Biodata</h2>
	<p>
		<small>First Name</small><br>
		<strong>{{first_name}}</strong><br>
	</p>
	<p>
		<small>Last Name</small><br>
		<strong>{{last_name}}</strong><br>
	</p>
	<p>
		<small>Email</small><br>
		<strong>{{email}}</strong><br>
	</p>
	<p>
		<small>Register Date</small><br>
		<strong>{{date_register}}</strong><br>
	</p>
	<p>
		<small>Created Date</small><br>
		<strong>{{createdAt}}</strong><br>
	</p>
	<p>
		<small>Updated Date</small><br>
		<strong>{{updatedAt}}</strong>
	</p>
</div>
<div class="col-md-4">
	<img src="/{{photo}}" alt="{{first_name}} {{last_name}}" class="img-responsive">
</div>